[Unit]
Description=Hypraceelerator Screenshot Organizer

[Service]
Type=oneshot
ExecStart=%h/.config/hypraceelerator/scripts/screenshots-organizer.sh
